[Unit]
Description=Kumpe3D Print Manager
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/justinkumpe/k3d_print_q_manager/
Environment="PATH=/home/justinkumpe/k3d_print_q_manager/venv/bin"
ExecStart=/home/justinkumpe/k3d_print_q_manager/venv/bin/python3 /home/justinkumpe/k3d_print_q_manager/monitor.py

[Install]
WantedBy=multi-user.target
