[Unit]
Description=Kumpe3D Print Manager
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/justinkumpe/k3d_print_q_manager/
Environment="PATH=/home/justinkumpe/k3d_print_q_manager/venv/bin"
ExecStart=/home/justinkumpe/k3d_print_q_manager/venv/bin/gunicorn --config gunicorn_config.py main:app --error-logfile /var/log/apache2/printmanager-api.log

[Install]
WantedBy=multi-user.target
